*.exe
*.dsym
*.o
*.dll
main
game.log
game_*.log
server.log
dist-server/
generated_map.png
dist/
installer/
build/
relay/node_modules/
TopDownSurvive.html
TopDownSurvive.js
TopDownSurvive.wasm
TopDownSurvive.data
game.rc.o